* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #141313;
}

.container-fluid {
    max-width: 100%;
}

section:hover .img-zoom {
    display: block;
    animation: zoomimg 2s infinite;
    -webkit-animation: zoomimg 2s infinite;
  }
  @-webkit-keyframes zoomimg {
    0% {
      -webkit-transform: scale(0.9);
    }
    25% {
      -webkit-transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.9);
    }
  }

#home-sec {
    background: url('img/Rectangle\ 1.svg');
    background-repeat: no-repeat;
    background-size: 101%;
    /* background-size: contain; */
}

.home-div {
    background: url('img/Group\ 205.svg');
    background-repeat: no-repeat;
    /* background-size: 203%; */
}

.inner-home-div {
    background: url('img/Group\ 218.svg');
    background-size: 120%;
}
#home-sec h1 {
    font-size: 28px;
    line-height: 45px;
}

#home-sec p {
    font-size: 17px;
    line-height: 33px;
    font-weight: 600;
}

.icons-two {
    display: none;
}
.icons {
    margin-top: 4.5rem!important;
}


.lower-div p {
    font-weight: bold;
    font-size: 20px;
    color:#1F90FF; ;
}

#home-sec p span {
    font-size: 15px;
    color: #000;
    font-weight: normal;
    /* padding: 0 .5rem; */
}

#home-sec input {
    border: 0.946667px solid #1E90FF;
    box-sizing: border-box;
    box-shadow: 3.78667px 3.78667px 3.78667px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 100%;
}

#notify {
    width: fit-content !important;
    background-color: #1F90FF;
    color: #fff;
    font-weight: bold;
    outline: none;
    box-shadow: 3.6px 3.6px 3.6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    margin: 1rem auto !important;
    display: block;
}

#notify:hover, .icons a img:hover, .icons-two a img:hover {
    box-shadow: -1px -1px 20px -3px #0a223d;
    transition: all ease 0.3s;
}
.abt h3 { 
    font-size: 117%;
    color: #141313;
}

.abt p, .features p {
    font-size: 85%;
    line-height: 27px;
    color: #141313;
}

.features h4 {
    font-size: 100%;
    line-height: 25px;
}

.features h5 {
    font-weight: 600;
    font-size: 100%;
    line-height: 33px;
    color: #1E90FF;
}
.desktop {
    display: none;
}

@media only screen
and (max-device-width: 370px) {
    #home-sec {
        background-size: 155%;
    }
    #home-sec h1 {
        font-size: 23px;
        margin-top: 4.5rem !important;
    }
    .icons {
        margin-top: 1.5rem!important;
    }
    #home-sec img {
        padding-top: 3rem!important;
    }
    .lower-div p {
        font-size: 18px;
    }
}   

@media only screen
and (min-device-width: 400px) {
    #home-sec {
        background-size: 95%;
    }
    .content h1 {
        margin-top: 4rem !important;
    }
    .features h4 {
        padding: 0px 0.2rem;
    }
}

@media only screen
and (min-device-width: 500px) {
    #home-sec img {
        padding-top: 0!important;
    }

    #home-sec input {
        width: 50%;
    }
    #notify {
        display: inline;
        margin: 0 1rem !important;
    }


@media only screen
and (min-device-width: 730px) {
    #home-sec {
        background-size: contain;
    }
    .home-div {
        background-position-x: 14%;
    }
    .content {
        max-width: 70%;
        margin-left: 25% !important;
        padding: 0;
    }
    #home-sec h1 {
        font-size: 27px;
    }
    #home-sec p {
        padding-top: 0 !important;
    }
    .icons {
        display: none;
    }
    .icons-two {
        display: block;
        margin-left: 5rem;
    }
    .lower-div {
        margin-left: 5rem;
    }
    .abt h3 {
        font-size: 150%;
        line-height: 49px;
    }
    .mobile {
        display: none;
    }
    .desktop {
        display: block;
    }
    .features h4 {
        margin: 3rem 0;
        font-size: 120%;
    }
}

@media only screen
and (min-device-width: 1000px) {
    .content {
        margin-left: 30% !important;
    }
    .content img {
        margin-left: 22%;
    }

    .content h1 {
        font-size: 33px;
        line-height: 49px;
    }   
    .lower-div p {
        font-size: 28px !important;
    }
   .lower-div p span {
        font-size: 20px !important;
    }
    .lower-div {
        margin-left: 3rem;
    }
    #home-sec input {
        width: 65%;
    }
    .abt, .features {
        margin: 0 8rem !important;
    }
    .abt h3 {
        font-size: 185%;
    }
    .abt p {
        font-size: 20px;
        line-height: 40px;
    }
    .features h4 {
        font-size: 140%;
    }
    .features h5 {
        font-size: 24px;
        line-height: 33px;
    }
    .features p {
        font-size: 20px;
        line-height: 33px;
    }
}